<p>reactive-form works!</p>

<!-- Formulario reactivo con FormBuilder -->
<form [formGroup]="reactiveForm" (ngSubmit)="create()">
    <label for="nombre">Nombre:</label>
    <input type="text" formControlName="nombre">
    <div *ngIf="reactiveForm.get('nombre').invalid && reactiveForm.get('nombre').dirty">
        <div *ngIf="reactiveForm.get('nombre').errors.required"> El nombre es obligatorio </div>
    </div>

    <label for="nombre">Categoria:</label>
    <input type="text" formControlName="categoria">
    <div *ngIf="reactiveForm.get('categoria').invalid && reactiveForm.get('categoria').dirty">
        <div *ngIf="reactiveForm.get('categoria').errors.required"> La categoria es obligatoria </div>
        <div *ngIf="reactiveForm.get('categoria').errors.minlength"> Categoria minimo 4 caracteres </div>
    </div>

    <button type="submit" [disabled]="!reactiveForm.valid">Crear</button>
</form>