<h2>Menú navegación Ejercicios</h2>

<ul>
    <li routerLink="/exercises/arquitectura">Ejercicio Arquitectura-angular</li>
    <li (click)="goToComponentOne()">Ejercicio parámetros en la ruta, componentOne</li>
    <li routerLink="/exercises/component-two">ComponentTwo</li>
    <li routerLink="/exercises/categorias">Ejercicio Categorías</li>
    <li routerLink="/exercises/categoria">Categoría</li>
</ul>

<h5>Username:</h5>
<input type="text" [(ngModel)]="username">

<router-outlet></router-outlet>