<p>login works!</p>

<h2>Login</h2>

<form (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
        <label for="username">Nombre:</label>
        <input type="text" [(ngModel)]="username" class="form-control" name="username" #name="ngModel" required>
        <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
            <div *ngIf="name.errors.required">Nombre obligatorio</div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" [(ngModel)]="pwd" class="form-control" name="pwd" #password="ngModel" required minlength="4">
        <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
            <div *ngIf="password.errors.required">Contraseña obligatorio</div>
            <div *ngIf="password.errors.minlength">Contraseña mínima de 4 caractéres</div>
        </div>
    </div>
    
    <button type="submit" class="btn btn-success" [disabled]="!loginForm.form.valid">Enviar</button>
</form>
