<p>login works!</p>


<h2>Login</h2>

<!-- Formulario tipo Template-driven -->
<form (ngSubmit)="login()" #loginForm="ngForm">
    <div >
        <label for="username">Nombre:</label>
        <input type="text" [(ngModel)]="username"  name="username" #name="ngModel" required>
        <div *ngIf="name.invalid && name.dirty" class="alert alert-danger">
            <div *ngIf="name.errors.required">Nombre obligatorio</div>
        </div>
    </div>

    <div >
        <label for="pwd">Contraseña:</label>
        <input type="password" [(ngModel)]="pwd"  name="pwd" #password="ngModel" required minlength="4">
        <div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
            <div *ngIf="password.errors.required">Contraseña obligatorio</div>
            <div *ngIf="password.errors.minlength">Contraseña mínima de 4 caractéres</div>
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">Enviar</button>
</form>